/* Feedback.css */

.feedback-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-title {
    font-size: 30px;
    font-weight: bold;
}

.feedback-form {
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.feedback-input {
    height: 100px;
    width: 98%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    resize: none;
}

.btn-submit-feedback {
    margin-top: 10px;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: #9EF6FF;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit-feedback:hover {
    background-color: #81F3FF;
}

.back-button {
    background-color: #e5e1e1;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5%;
  }
  
  .back-button:hover {
    background-color: #81F3FF;
  }

.feedback-image {
    width: 25%; 
    border-radius: 10px; 
    margin-top: 20px; 
}
