.catalogue-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.catalogue-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: inherit;
    margin-top: 2.5rem;
}

.catalogue-title{
    font-size: 40px;
    font-weight: bold;
}

.publish-button {
    position: fixed;
    bottom: 3.7rem; 
    right: 3.7rem;
    width: 33px;
    height: 33px;
    background-color: #ff7011;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.publish-button:hover {
    background-color: #ff8a3c;
}
