* {
    font-family: 'Roboto';
}

.main-login {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-img {
    height: 300px;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

.input-btn {
    position: relative;
    width: 100%;
}

.viewpassword-btn {
    position: absolute;
    top: 50%;
    transform: translate(-160%, -40%);
    background: transparent;
    color: #333;
    padding: 0;
    cursor: pointer;
    border: none;
}


.submit-section {
    width: 100%;
    margin-top: 10px;
}

.footer-form-login {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-login {
    padding: 20px;
}

.div-login-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 300px;
}


.login-section-title {
    font-weight: bold;
    font-size: 30px;
}

.input-field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #F0F0F0;
    border: none;
}
.input-field:focus {
    outline: none;
}

.input-field::placeholder{
    padding-left: 10px;
}

form {
    width: 100%;
}

.text-register{
    margin-right: 5px;
}

.btn-login-form{
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: #9EF6FF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
}

.btn-login-form:hover{
    background-color: #81F3FF;
}

.warningLogin{
    margin-top: 10px;
}