.site-header {
  background-color: #60979e;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.user:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
}

.user-name{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-button{
  color: #f4feff; 
  background: #60979e;
  border: none;
  cursor: pointer;
}

.user-button :hover{
  color: #ffffff;   
}

.main-nav ul {
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.main-nav li {
  display: inline;
  color: #415e62;
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 6.5rem;
  cursor: pointer;
  transition:  0.3s ;
}


.main-nav li:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.logo-img{
  width: 7%;
  height: 7%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
}
