/* user.css */

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .profile-picture {
    position: relative;
  }
  
  .profile-picture img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #81F3FF; /* Adiciona uma borda branca ao redor da imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
  }
  
  .user-details {
    text-align: center;
  }
  
  .user-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .user-details {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .site-title {
    font-size: 36px;
  }

  /* user.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .back-button {
    background-color: #e5e1e1;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #81F3FF;
  }

  /* user.css */

/* ... (seu código existente) */

.back-button {
    background-color: #e5e1e1;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
  }
  
  .logout-button {
    background-color: #e5e1e1; /* Cor avermelhada */
    color: #ff0000;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 90px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
  }
  
  .logout-button:hover {
    background-color: #df5e50; /* Cor mais escura no hover */
  }
  
  
  
  /* Adicione estilos adicionais conforme necessário */
  